@import "tailwindcss";

html {
  overflow-y: scroll;
}

@layer utilities {
  .mask-gradient {
    mask: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.radix-themes {
  --default-font-family: var(--font-urbanist);
  --code-font-family: var(--font-urbanist);
  --color-background: #f9f9f9 !important;
}

.font-caveat {
  font-family: var(--font-caveat) !important;
}
